
/* Prev/Next Carousel */
.fa-chevron-left{
    position: absolute;
    top: 350px;
    padding: 20px;
    color: #BFDBFE;
}

/* img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
/* #1B1A1F
#25262B
#D9D9E3
#3DB2FF */

.fa-chevron-right{
    position: absolute;
    top: 350px;
    padding: 20px;
    color: #BFDBFE;
}

.center{
    text-align: center;
}

.l1carouselText{
    position: absolute;
    top: 200px;
    color: #0E7490;
    padding-left: 50px;
}

.l1carouselTextP{
    position: absolute;
    top: 250px;
    color: #0E7490;
    padding-left: 50px;
}

.l1carouselLink{
    position: absolute;
    top: 300px;
    color: #0E7490;
    padding-left: 50px;
}

.l1carouselLink:hover{
    color: #333;
}

.l2carouselText{
    position: absolute;
    top: 200px;
    margin-right: 50px;
    padding: 0 10px;
    background-color: #FFF7ED;
    color: #333;
}

.l2carouselTextP{
    position: absolute;
    top: 250px;
    margin-right: 50px;
    padding: 0 20px;
    background-color: #FFF7ED;
    color: #333;
}

.l2carouselLink{
    position: absolute;
    text-transform: uppercase;
    top: 300px;
    margin-right: 50px;
    padding: 0 20px;
    color: #333;
}

.l2carouselLink:hover{
    filter: brightness(-90%);
}
